<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.web>
		<system.webServer>
			<staticContent>
				<remove fileExtension=".ttf" /> <!-- In case IIS already has this mime type -->
				<mimeMap fileExtension=".ttf" mimeType="application/x-font-ttf" />
			</staticContent>    
		</system.webServer>
	</system.web>
</configuration>