#nav-custom {
	background-color: #000;
	color: #868e96;
    overflow: hidden;
}

#home-text {
    font-size: 30px;
}

#home-album-link {
    color: #fff;
}

#img-container {
    margin-bottom: 5px;
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #000;
    color: #fff;
}

.icon-list {
	margin: 0 5px 0 5px;
}

@font-face {
    font-family: 'Agency FB';
    src: url('../fonts/AGENCYR.ttf') format('truetype');
}

body {
    background-color: black;
    font-family: 'Agency FB', arial;
}

p {
    color: #606060;
    font-size: 20px;
}

@media (max-width: 490px) {
    #home-text {
    font-size: 22px;
}
}